[MASTER]
# Use multiple processes to speed up Pylint
jobs=4

# Python code to execute, usually for sys.path manipulation such as pygtk.require()
#init-hook=

# Pickle collected data for later comparisons
persistent=yes

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages
suggestion-mode=yes

[MESSAGES CONTROL]
# Disable specific messages
disable=
    C0111,  # missing-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0212,  # protected-access

[REPORTS]
# Set the output format
output-format=text

# Tells whether to display a full report or only the messages
reports=no

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# String used as indentation unit
indent-string='    '

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,e,f,fp

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of attributes for a class
max-attributes=15

# Minimum number of public methods for a class
min-public-methods=0

# Maximum number of public methods for a class
max-public-methods=30
